**/nbproject/private/
**/.classpath
**/.settings
**/.project
**/out/
**/dist/
**/build/
**/.gradle/
**/.nb-gradle/
**/.idea/
**/bin/
**/netbeans/
**/.classpath
**/.project
**/.settings
.metadata
.recommenders
.sonarlint
/RemoteSystemsTempFiles
*.dll
*.so
*.jnilib
*.dylib
*.iml
.gradletasknamecache
.DS_Store
/buildMaven.bat
